################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FreePizza/v15/Server/sqlite3
.vs
FreePizza/bin
FreePizza/obj